#title
{
    background-color: #000000;
    color: #fff;
    padding-bottom: 4.5rem;
}

h1,h2,h3{

    font-family: 'Montserrat', sans-serif;
	    font-weight: bold;

}
h1{
    font-size: 3rem;
    line-height: 1.5;
    color:#fff ;
}
.container-fluid
{
    padding:3% 15%;
    padding-bottom: 100px;
    

}
body
{
    font-family: 'Montserrat', sans-serif;
    
     
}

/* navbar */
.navbar-brand
{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    
}
.navbar
{
    padding:0 0 4.5rem;
}
.nav-item
{
    padding: 0% 18px;
}
.nav-link
{
    font-size: 1.2rem;
}
.download-button
{
    margin: 5% 3% 5% 0%;
}
.title-img
{
    width: 25%;
    transform: rotate(25deg);
    position: absolute;
    
}
#features
{
    padding: 11% 10%;
    text-align: center;
    position: relative;
    z-index: 1;
    background-color: #fff;
}
h3
{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 1rem;
}
.f
{
    font-size: 5rem;
    color:#a42e37;
    color: 	#D2691E;
}
p{
    color: #8f8f8f;
}
#testimonials
{
 
    
    text-align: center;
    background-color:black;
    color: #fff;
     padding:2rem;
    
    
}


.imges
{
    width: 50%;
    border-radius: 50%;

}
#press
{
    background-color: black;
    text-align: center;
}
.img-logo
{
    width: 15%;
    margin: 20px 20px 15px;
    padding-bottom: 12%;
}
.carousel-item
{
    padding: 7% 15%;

}
.testimonial-image
{
    width: 20%;
    border-radius: 50%;
   
}

.p-h
{
    padding: 6% 2%;
    text-align: center;
}
#pricing
{
    padding: 100px;
    text-align: center;
}
.pricing-col
{
    padding: 3% 2%;
}
@media (max-width:1028px) {
    .title-img
    {
        position: static;
        transform: rotate(0deg);
        width: 50%;
    }
    #title
    {
        text-align: center;

    }
    
}
#cta
{
    background-color: black;
    padding: 4% 33%;
    text-align: center;
    color:#fff;
}
.cta-btn
{
    margin: 20px 10px;
}
#footer 
{
    text-align: center;
    padding: 5% 15%;
}
.ff
{
    margin-right: 10px;
}
.fp
{
    padding-top: 20px;
}
.test-head
{
    color: #fff;
    padding-top: 5rem;
    text-align: center;
    font-size: x-large;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size:2rem ;

}
@media (min-width:900px) {
    .imges
    {
    width: 30%;
    border-radius: 50%;

    }
    
}
@media(max-width:650px)
{
	.leftalign
	{
		padding:7% 20%;
						text-align:left;

	}
	
}